PLACETEL_SIP_USERNAME=3602630
PLACETEL_SIP_PASSWORD=YOUR_PLACETEL_SIP_PASSWORD_HERE
ELEVENLABS_AGENT_ID=YOUR_ELEVENLABS_AGENT_ID_HERE
ELEVENLABS_API_KEY=YOUR_ELEVENLABS_API_KEY_HERE
JAMBONZ_MYSQL_PASSWORD=jambonzpass
JAMBONZ_MYSQL_ROOT_PASSWORD=rootpass
JAMBONZ_ADMIN_PASSWORD=admin123
